@model survey.Models.SurveyViewModel

@{
    ViewData["Title"] = "Survey";
}

<h2>Survey</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Respondent
                </th>
                <th>
                    Birthdate
                </th>
                <th>
                    Phone Type
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Responses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Respondent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone.OS)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <h4>New</h4>
    <form class="form-inline" method="post">
        <div class="form-group">
            <label for="Birthdate" class="control-label">Date of birth</label>
            <input type="date" class="form-control" id="Birthdate" name="Birthdate" placeholder="birthdate">
        </div>
        <div class="form-group">
            <label for="Phone" class="control-label">Phone</label>
            <select asp-for="Phone" asp-items="Model.Phones" id="Phone" name="Phone">
            </select>
        </div>
        <div class="form-group">
            <label for="SocialNetworks" class="control-label">Social Networks</label>
            <select asp-for="SocialNetworks" asp-items="Model.Networks" id="SocialNetworks" name="SocialNetworks">
            </select>
        </div>
        <div>
            <button type="submit" value="submit">Save</button>
        </div>
    </form>
</div>



@section Scripts
{
<script>

    $(function () {

        $('#Phone option').click(function () {
            $(this).attr('selected', 'selected');
        });

        $('#SocialNetworks option').click(function () {
            $('#SocialNetworks option:not(:selected)').removeAttr('selected');
            $('#SocialNetworks option:selected').attr('selected', 'selected');
        });

    })
</script>
}